<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 配置扫描的包 -->
	<context:component-scan base-package="com.bhg.pipeServer.api*" />

	<!-- 注册HandlerMapper、HandlerAdapter两个映射类 -->
	<mvc:annotation-driven />
	<bean class="com.bhg.pipeServer.interceptor.ExceptionIngerceptor" />
	<!-- 访问静态资源 -->
	<mvc:default-servlet-handler />
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 对所有请求进行拦截 -->
			<mvc:mapping path="/**" />
			<!-- 特定请求的拦截器只能有一个 -->
			<bean class="com.bhg.pipeServer.interceptor.RequestInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>